*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #fff url(../images/header-background.gif) repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333;
}

a
{
	text-decoration: none;
	color: #648CA5;
}
a:hover
{
	text-decoration: underline;
	color: #111;
}
label
{
	display:block;	
}
#page
{
	margin: 0 auto;
	width: 780px;
}

#menu
{
	height: 40px;
}
#menu ul
{
	list-style-type: none;
	padding-top: 20px;
}
#menu ul li
{
	display: block;
	float: left;
}
#menu ul li a
{
	color: #9EA036;
	padding: 0 20px 0 0;
	text-decoration: none;
	font-weight: 100;
	font-size: 14px;
}
#menu ul li a:hover
{
	color: #111;
	text-decoration: none;
}

#header
{
	height: 60px;
	line-height: 60px;
}
#header h1
{
	color: #fff;
	font-size: 20px;
}

#content
{
	margin-top: 20px;
	text-align: justify;
}

#content h2
{	
	font-size: 24px;
	font-weight: 100;
	border: 1px solid #D3D463;
	background: #E5E695;
	padding: 10px 3px 7px 3px;
	letter-spacing: -1px;
	clear: both;
}
#content h2 a
{
	color: #9EA036;
	text-decoration: none;
}
#content h2 a:hover
{
	color: #111;
}

#content ol{
	padding-left: 50px;
}


#columns
{
}

#main-column
{
	float: left;
	width: 570px;
}
#sidebar-column
{
	float: right;
	width: 170px;
	text-align: right;
}
#sidebar-column ul
{
	padding: 0 0 0 0;
	list-style-type: none;
}
#sidebar-column ul li a
{
	text-decoration: none;
}
#sidebar-column ul li a:hover
{
	color: #111;
}

#footer
{
	margin-top: 20px;
	border-top: 1px solid #AEAEAE;
	background: #ececec;
	padding: 10px 0;
	text-align: center;
	font-size: 11px;
	clear: both;
}
.clear {
	clear:both;
}
/* Blogging */
ul.toollist
{
	list-style-type: none;		
}
ul.toollist li
{
	margin-left: 10px;
	margin-right: 10px;
	display: block;
	float:left;
}
ul.categories
{
	list-style-type: none;
}
ul.categories li
{
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.entry
{
	padding: 5px;
}
.entry p
{
	padding: 5px;
	text-indent: 15px;
}
.entry-info
{
	margin: 15px;
	color: #777;
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
	font-size: smaller;	
}
.side-panel h3
{
	margin-top: 10px;
	margin-bottom: 4px;
	border-bottom: 1px solid #D3D463;
	text-align:right;
}
.side-panel
{	
	text-align:justify;
}