        <div id="menu">
            <ul>
                <li><%=link_to "Blog", blog_path  %></li>
				<li><%=link_to "Drafts", blog_drafts_path  %></li>
            </ul>
        </div>
		
        <div id="header">Mike Chaliy's Personal Site</div>