        <div id="menu">
            <ul>
            	<li><%=link_to "Home", "/"  %></li>
                <li><%=link_to "Blog", blog_path  %></li>
				<li><%=link_to "Drafts", blog_drafts_path  %></li>
				<li><%=link_to "Contacts", :controller => 'home', :action => 'contacts' %></li>
            </ul>
        </div>
		
        <div id="header">Mike Chaliy's Personal Site</div>