	<div id="footer">        
       	Mike Chaliy &copy; Copyright 2009 
		&nbsp;|&nbsp;
		<a href="http://www.developers.org.ua" >
			<img width="80" height="15" border="0" alt="Участник планеты Developers.org.ua" src="http://www.developers.org.ua/static/images/planet/80x15_green.gif" />
		</a>			
    </div>