<% @entries.each do |entry| %>
<div class="entry">	
	<h2><%=link_to entry.title, blog_entry_path(:name => entry.name, :year => entry.published_on.year, :month => entry.published_on.month)  %></h2>
	<%= entry.content %>
	<p class="entry-info">This entry was posted on <%=h entry.published_on %>.</p>
</div>    
<% end %>