<div class="entry-list">
	<% @entries.each do |entry| %>
	<div class="entry">	
		<h2><%=link_to entry.title, blog_pretty_entry_url(entry)  %></h2>
		<%= entry.content %>
		<p class="entry-info">This entry was posted on <%=h entry.published_on %>.</p>
	</div>
	<% end %>
</div>