<ul>
	<li><a href="http://github.com/chaliy">Fork me on GitHub</a></li>
	<li><a href="http://github.com/chaliy/chaliy_personal_site/">Fork this site on GitHub</a></li>
	<li><a href="http://www.codeplex.com/site/users/view/chaliy">CodePlex Profile</a></li>
</ul>