<div id="hcard-Mike-Chaliy" class="vcard">
 <a class="url fn" href="http://chaliy.name">Mike Chaliy</a><br />
 <a class="email" href="mailto:mike@chaliy.name">mike@chaliy.name</a>
 <div class="adr">
  <div class="street-address">Kamskaya 2/61</div>
  <span class="locality">Kharkiv</span>,
  <span class="region">KH</span>,
  <span class="postal-code">61064</span>
  <span class="country-name">Ukraine</span>
 </div>
</div>