<div id="hcard-Mike-Chaliy" class="vcard">
 <img src="/images/avatar320.jpg" alt="Mike Chaliy, with daughter" />
 <a class="url fn" href="http://chaliy.name">Mike Chaliy</a><br />
 <a class="email" href="mailto:mike@chaliy.name">mike@chaliy.name</a><br />
 Skype: <a class="skype" href="skype:mike.chaliy">mike.chaliy</a>
 <div class="adr">
  <div class="street-address">Kamskaya 2/61</div>
  <span class="locality">Kharkiv</span>,
  <span class="region">KH</span>,
  <span class="postal-code">61064</span>
  <span class="country-name">Ukraine</span>
 </div>  
 <a href="http://twitter.com/chaliy" title="My random thoughts on Twitter" class="twitter">Follow me on Twitter</a><br />
 <a href="http://www.linkedin.com/in/chaliy" title="My profile on LinkedIn" class="linkedin">My profile on LinkedIn</a><br />
</div>