<% content_for :head do -%>
	<title>Mike Chaliy: My Contacts</title>
<% end -%>
<h1>Card</h1>
<%= render(:partial => "shared/personal_card")%>
<h1>Links</h1>
<%= render(:partial => "shared/personal_links")%>