<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Mike Chaliy's Home Page</title>
	<meta http-equiv="Content-Type" content="text/html;" />
	<%= stylesheet_link_tag "style", :media => "all" %>
	<!-- OpenID -->
	<link rel="openid.server" href="http://pip.verisignlabs.com/server" />
	<link rel="openid.delegate" href="http://chaliy.pip.verisignlabs.com" />
	<link rel="openid2.provider" href="http://pip.verisignlabs.com/server" />
	<link rel="openid2.local_id" href="http://chaliy.pip.verisignlabs.com" />
	<meta http-equiv="X-XRDS-Location" content="http://pip.verisignlabs.com/user/chaliy/yadisxrds" />
</head>
<body>
    <div id="page">
    
		<%= render(:partial => "shared/application_header" )%>
		
      	<% if flash[:notice] -%>
      	<div id="notice"><%= flash[:notice] %></div>
    	<% end -%>

        <div id="content">
        	
			<%= render(:partial => "shared/entry_list", :object => @entries )%>

        </div>
        
        <div id="footer">
            <p>
                Mike Chaliy &copy; Copyright 2009
            </p>
        </div>

    </div>
</body>
</html>