<% content_for :head do -%>
  <title>Mike Chaliy: Draft Posts</title>
  <meta name="description" content="I have many posts that are actually 'drafts', this is ideas that could be useful, but I have not time to complete them. This page is all about such posts." />
  <meta name="keywords" content=".NET, Domain Driven Design, DDD" />
<% end -%>
<h1>Drafts</h1>
<em>
	I have many posts that are actually 'drafts', this is ideas that could be useful, but I have not time to complete them. This page is all about such posts.
</em>
<%= render(:partial => "shared/entry_list", :object => @entries )%>