<div class="entry">	
	<h1><%=link_to @entry.title, blog_pretty_entry_url(@entry) %></h1>	
	<%= @entry.content %>
	<p class="entry-info">This entry was posted on <%=h @entry.published_on %>.</p>
</div>