<% content_for :head do -%>
  <title>Mike Chaliy: Blog Index</title>
  <meta name="keywords" content=".NET, Domain Driven Design, DDD" />
<% end -%>
<%= render(:partial => "shared/entry_list", :object => @entries )%>