<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>  
<%= yield :head %>
<%= render(:partial => "shared/head" )%>	
	<link rel="alternate" type="application/atom+xml" title="Mike Chaliy, Blog" href="<%= blog_syndication_url %>" />
</head>
<body>
        
	<%= render(:partial => "shared/application_header" )%>    	       
	
	<% if flash[:notice] -%>
  	<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
	
	<div id="main">
                
		<%= yield :layout %>
		
	</div>
		
    <%= render(:partial => "shared/application_footer" )%>
	<%= render(:partial => "shared/ga")%>
</body>
</html>